*{
    font-family: 'Raleway', sans-serif;
    padding: 0%;
    margin: 0px;
  
}
p{
   padding: 10px;
   font-size: .7rem;
}


header{
    background-color: #232625;
    font-weight: bold;

    overflow:hidden
}
footer{
    color:#F8F9Fb ;
    background: #232625;
    padding-left: 100px;

}
a:hover{
    text-decoration: none;
}
a.nav-link{
    transition: all ease .5s;
    color: white!important;
}
a.nav-link:hover{
    background-color:#05DBF2;
   color: white!important;
   transition: 1s;
}
a.nav-link.active{
    background-color: #232625;
   color: #05DBF2 !important;
   
}
body{
    font-weight: 600;
}

.table{
    background-color: transparent;
}
ul.b{
    list-style-type: none;
    color: #E6B707;

}
li{
    color: #F8F9Fb;
}

.lb{
    padding: 0;
    margin: 0em;
    width: 100vw;
}

.naranja{
    color: white;
    background-color: #E6B707;
    background-image: url(../imagenes/separador1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    
}
.naranja2{

    background-color:#848484;
   
 
    
}

.fully{
    color: #05DBF2;

}

.blanco{
    
    background-color: white;
   /* background-image: url(../imagenes/separador2.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    
}
.blanco2{
    
    background-color: white;
    
 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    
}
.some{
    
    background-color: #d0d0d0;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    
}

figure {
    margin: 0 0 0rem;
}
.figure-caption
{ 
    color: #d0d0d0;
    background-color: black;

}
/*.figure-caption2
{ 
    
        color: #000000;
        background-color: #FFC107;
    

}*/
.figure-img {
    margin-bottom: 0; 
    line-height: 1;
}



@media (min-width:768px) {
    .navbar-expand-md .navbar-nav .nav-link{
        padding: 30px 15px;
       
    }



}


@media (min-width:768px) {
    h4{
        font-size: 1.3rem;
    }



}



@media (max-width:450px) {
    .logo{
        max-width: 100px;
    }



}